/* Whole Document Styling Starts */
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Allow scrolling but hide scrollbar for "Chrome, Safari, Edge" Strt */
html,
body {
  overflow: auto;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}
/* Allow scrolling but hide scrollbar for "Chrome, Safari, Edge" End */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #211717 0%, #0d121a 100%);
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar Component Styling Starts */
nav {
  color: #e0e0e0;
  background-color: #0d0d0d;
}

nav .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
}
nav .navbar-brand span {
  color: #067d2d;
  font-weight: bold;
  font-size: 22px;
  transition: 1s;
}

nav .navbar-brand span:hover {
  color: #0062ff;
}

nav .navbar-toggler {
  border: none;
  font-size: 22px;
  background-color: #067d2d;
  transition: 1s;
}

nav .navbar-toggler:hover {
  background-color: #0062ff;
}

nav .collapse .navbar-nav .nav-item .nav-link {
  font-size: 20px;
}
/* Navbar Component Styling Ends */

/* Homepage Component Styling Starts */
.homepage-container {
  color: #ffffff;
  padding: 10px;
}

.homepage-container .home-header {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

.homepage-content {
  margin-top: 20px;
}

.homepage-content .btn {
  margin: 0 5px;
}

.homepage-content .form-control {
  margin-bottom: 10px;
}

.music-player-container,
.community-container {
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}
/* Homepage Component Styling Ends */

/* Music-player Component Styling Starts */
.music-player-container {
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.578);
}

.music-player-container h1, h2 {
  color: #ffffff;
}

.music-player-container .btn {
  margin: 0 5px;
}

.music-player-container .progress {
  height: 5px;
  background-color: #333;
}

.music-player-container .progress-bar {
  background-color: #063e19;
}

.music-player-container .form-control {
  margin-bottom: 10px;
}

.music-player-container .audio-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player-container .audio-controls button {
  margin-right: 10px;
}

.music-player-container .details p {
  margin: 0;
}

.music-player-container .pinned-tracks {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .music-player-container .mt-4 label{
    display: none;
  }
}
/* Music-player Component Styling Ends */

/* Community Component Styling Starts */
.community-container {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.578);
  background-color: #121212;
  color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
}

.add-post textarea {
  width: 100%;
  height: 100px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
}

.add-post button {
  background-color: #281d1d; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: 1s;
}
.add-post button:hover {
  background-color: #124a25;
}

.post {
  background-color: #1e1e1e;
  border: 1px solid #333;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}

.post p {
  margin: 0;
}

.post button {
  background-color: #281d1d; 
  color: #ffffff;
  border: none;
  margin: 10px 0;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: 1s;
}

.post button:hover {
  background-color: #124a25;
}

.post .comments {
  margin-top: 15px;
}

.post .comments textarea {
  width: 100%;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
}

.post .comments button {
  background-color: #281d1d;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.post .comments ul {
  list-style-type: none;
  padding: 0;
}

.post .comments li {
  background-color: #2c2c2c;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
}
/* Community Component Styling Ends */

/* Footer Component Styling Starts */
footer {
  color: #e0e0e0;
  background-color: #0d0d0d;
}

footer a {
  text-decoration: none;
}
/* Footer Component Styling Ends */
/* Whole Document Styling Ends */